@media screen and (min-width: 800px) {
    body {
        margin: 0;
        padding: 0;
        font-family: 'Dosis', 'Roboto', sans-serif;
        background-color: rgb(100, 69, 54);
        display: grid;
        grid-template-columns: 10% 90%;
        grid-template-rows: auto;
        grid-template-areas: 'navbar main';
    }
    header {   
        grid-area: navbar;
        width: inherit;
        height: 100%;
        position: fixed;
    }
    .navbar{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        background-color: rgb(52, 213, 127);
        height: 100%;
        text-align: center;
    }
    .navbar a{
        width: inherit;
        color: white;
        padding: 20px;
        text-decoration: none;
    }    
    .navbar a:hover {
        transform: scale(1.2);
    }
}

@media screen and (max-width: 800px) {
    body {
        margin: 0;
        padding: 0;
        font-family: 'Dosis', 'Roboto', sans-serif;
        background-color: rgb(100, 69, 54);
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto;
        grid-template-areas: 
        'main' 
        'navbar';
    }
    header {   
        position: fixed;
        bottom: 0px;
        width: 100%;
        grid-area: navbar;
    }
    .navbar{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        background-color: rgb(52, 213, 127);
        margin: 0;
        padding: 0;
        width: 100%;
        height: 50px;
        text-align: center;
        overflow: auto;
    }
    .navbar a{
        color: white;
        padding: 10px 20px;
        text-decoration: none;
    }  
    .navbar a:hover {
        color: grey;
    }
  }

/*Header-navbar section*/

main{
    margin: 20px 0 50px 0;
    padding: 0 10%;
    grid-area: main;
}

h2 {
    font-weight:600;
    color: #FAFAFA;
}

/*Card Content*/
.cardContent {
    padding: 5px;
}

.cardContent h3 {
    font-weight:600;
    font-size: larger;
    text-align: center;
}

.cardContent h4 {
    font-weight:600;
    font-size: medium;
    text-align: center;
}

.cardContent h5 {
    font-weight:300;
    font-size: small;
    text-align: center;
}

.cardContent li {
    font-size: medium;
    text-align: left;
}

h2 {
    text-align: center;
}

/*Employment section*/
.employmentContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.employmentCard {
    background: #EBEBEB;
    width: 400px;
    box-shadow: 7px 7px 5px rgb(0, 0, 0);
    border: 0;
    border-radius: 10px;
    margin: 10px;
}

/*Education section*/
.eduContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.eduCard {
    background: #EBEBEB;
    width: 400px;
    box-shadow: 7px 7px 5px rgb(0, 0, 0);
    border: 0;
    border-radius: 10px;
    margin: 10px;
}

/*Skill section*/
.skillContainer {
    color: #EBEBEB;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    height: 90vh;
}

/*Project section*/
.projectContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.projectCard {
    background: #EBEBEB;
    width: 400px;
    box-shadow: 7px 7px 5px rgb(0, 0, 0);
    border: 0;
    border-radius: 10px;
    margin: 10px;
}