@media screen and (min-width: 800px) {
    body {
        margin: 0;
        padding: 0;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background-color: rgb(245, 229, 208);
        display: grid;
        grid-template-columns: 10% 90%;
        grid-template-rows: auto;
        grid-template-areas: 'navbar main';
    }
    header {   
        grid-area: navbar;
        width: inherit;
        height: 100%;
        position: fixed;
    }
    .navbar{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        background-color: hotpink;
        height: 100%;
        text-align: center;
    }
    .navbar a{
        width: inherit;
        color: white;
        padding: 20px;
        text-decoration: none;
    }    
    .navbar a:hover {
        color: grey;
    }
}

@media screen and (max-width: 800px) {
    body {
        margin: 0;
        padding: 0;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background-color: rgb(245, 229, 208);
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto;
        grid-template-areas: 
        'main' 
        'navbar';
    }
    header {   
        position: fixed;
        bottom: 0px;
        width: 100%;
        grid-area: navbar;
    }
    .navbar{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background-color: hotpink;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 50px;
        text-align: center;
        overflow: auto;
    }
    .navbar a{
        color: white;
        padding: 10px;
        text-decoration: none;
    }  
    .navbar a:hover {
        color: grey;
    }
  }

/*Header-navbar section*/

main{
    margin: 20px 0 50px 0;
    padding: 0 10%;
    grid-area: main;
}

/*Card Content*/
.cardContent {
    padding: 5px;
}

.cardContent h3 {
    font-size: larger;
    text-align: center;
}

.cardContent h4 {
    font-size: medium;
    text-align: center;
}

.cardContent h5 {
    font-size: x-small;
    text-align: center;
}

.cardContent li {
    font-size: medium;
    text-align: left;
}

h2 {
    text-align: center;
}

/*Education section*/
.eduContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.eduCard {
    background: linear-gradient(45deg, rgba(251,246,63,1) 0%, rgba(105,255,40,1) 100%);
    width: 400px;
    box-shadow: 0 0 10px rgb(193, 253, 157);
    border: 5px solid rgb(126, 247, 70);
    border-radius: 10px;
    margin: 10px;
}

/*Employment section*/
.employmentContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.employmentCard {
    width: 400px;
    box-shadow: 0 0 10px rgb(193, 253, 157);
    background: linear-gradient(45deg, rgba(251,246,63,1) 0%, rgba(105,255,40,1) 100%);
    border: 5px solid rgb(126, 247, 70);
    border-radius: 10px;
    margin: 10px;
}

/*Skill section*/
.skillContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    height: 90vh;
}

/*Project section*/
.projectContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.projectCard {
    width: 400px;
    box-shadow: 0 0 10px rgb(193, 253, 157);
    background: linear-gradient(45deg, rgba(251,246,63,1) 0%, rgba(105,255,40,1) 100%);
    border: 5px solid rgb(126, 247, 70);
    border-radius: 10px;
    margin: 10px;
}